<h2>Enter the following information to start your booking:</h2>
<%= form_with model: @booking, url: room_bookings_path(@room), local: true, data: { turbo: false } do |form| %>
  <p>Room id: <%= @room.id %></p>
  <p>User id: <%= current_user.id %></p>
  <p>
    <%= form.label :meeting_description %><br>
    <%= form.text_area :description, rows: 4, cols: 30 %>
  </p>
  <p>
    <%= form.label :start_date_and_time %><br>
    <input type="datetime-local" name="booking[start_date_time]">
  </p>
  <p>
    <%= form.label :end_date_and_time %><br>
    <input type="datetime-local" name="booking[end_date_time]">
  </p>
  <p>
    <%= form.submit "Submit" %>
  </p>
<% end %>
<%= link_to 'Go back', room_path(@room) %>
