<h1>All Rooms:</h1>
<% if current_user == nil %>
<% elsif current_user.is_admin? %>
  <%= link_to "Add new room", new_room_path, class: "btn btn-primary btn-lg" %>
<% end %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">S.N.</th>
      <th scope="col">Floor</th>
      <th scope="col">Room Name</th>
      <th scope="col">Status</th>
      <th scope="col">Current schedule</th>
      <th scope="col">Booked by</th>
      <th scope="col">View details</th>
    </tr>
  </thead>
  <tbody>
    <%= @rooms.each_with_index do |room, num| %>
      <tr>
        <th scope="row"><%= num+1 %></th>
        <td><%= room.floor_number %></td>
        <td><%= room.name %></td>
        <% if @information[num] == nil %>
          <td id="available">Available</td>
          <td>No schedule</td>
          <td>Nobody</td>
        <% else %>
          <td id="booked">Booked</td>
          <td><%= @information[num].description %></td>
          <td><%= @information[num].first_name + " " + @information[num].last_name %></td>
        <% end %>
        <td><%= link_to "Details", room_path(room.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
